.msg-field-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.aln-left{
    align-items: flex-start !important;
    margin-left: 5px !important;
}
.msg-time-right{
    margin-right: 15px;
    color: #828282;
    font-style: italic;
    font-size: 12px;
}
.msg-time-left{
    margin-left: 5px;
    color: #828282;
    font-style: italic;
    font-size: 12px;
}

  .bounce {
  position: absolute;
  bottom: 8%;
  left: 16px ;
  width: 5px;
  height: 5px ;
    background: #fff;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  border-radius:50%;
  animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
  -o-animation: bounce 1s infinite;
  }
  
  .bounce1 {
  position: absolute;
  bottom: 8%;
  left: 29px ;
  width: 5px;
  height: 5px ;
    background: #fff;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  border-radius:50%;
  animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
  -o-animation: bounce 1s infinite;
    animation-delay: 0.2s;
  }
  
  .bounce2 {
  position: absolute;
  bottom: 8%;
  left: 5%;
  width: 5px;
  height: 5px ;
    background: #fff;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  border-radius:50%;
  animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
  -o-animation: bounce 1s infinite;
    animation-delay: 0.4s;
  }
   
  @-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-10px);}
  }
   
  @-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-10px);}
  }
   
  @-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-10px);}
  }
  @keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-10px);}
  
  }

  .scroll{
      overflow-y: auto;
      margin-right: -20px;
  }
  .chatroom-date{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .messagepopup-right{
    height: 12rem;
    width: 73%;
    margin-right: 5rem; 
     margin-top: 8px;
    background: #50535a;
    box-shadow: 0px 0px 30px rgb(14 10 16 / 84%);
    border-radius: 10px;
}

.messagepopup-left{
  height: 12rem;
  width: 73%;
  margin-left: 5rem;
  margin-top: 8px;
  background: #50535a;
  box-shadow: 0px 0px 30px rgb(14 10 16 / 84%);
  border-radius: 10px;
}

.messagepopup-items{
    width: 90%;
    height: 25%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-width: 0px 0px 1px 0px;
    cursor: pointer;
}
.popup{
  cursor:pointer;
  color:#828282;
  margin-left: 0.1rem;
  float: right;
}
.popup:hover{
 color:white;
}

textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  color: #fff;
}

.textfield {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

#textip {
  display: block;
  width: 100%;
  height: 70%;
  border: 1px solid rgba(0,0,0,.5);
  background: rgba(0,0,0,.25);
  border-radius: 10px;}
  .reply{
    display: flex;
    flex-direction: column;
    background: #202124;
    border-radius: 10px;
    width: 55%;
    margin-left: 17%;
    padding: 10px;
    position: fixed;
  } 
  .msg-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .reply-msg-style{
    margin-top:1px;
    margin-bottom:1px;
    background-color:#6f7177;
    border-radius:10px;
    padding-left:5px;
    border-left-style: solid;
    border-left-color: #2021247a;
  }
  .username-style{
    color:rgb(32 33 36 / 58%);
    font-size:14px
  }
  .first-msg-style{
    color: '#c9c3b1';
    font-size: 14
  }