.pop-up{
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: #44464d;
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
}

.chat-room-pop-up-profile{
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: #44464d;
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  width: 25%;
  height: 87%;
}

.pop-up-heading{
  padding:10px;
  padding-right:40px;
  cursor:pointer;
}

.pop-head:hover{
  background-color: #603e42 !important;
}

.pop-up-delete-user{
  padding:10px;
  padding-right:30px;
  cursor:pointer;
}

.pop-delete:hover{
  background-color: #603e42 !important;
}

.pop-up-archieve{
  padding:10px;
  padding-right:30px;
  cursor:pointer;
}

.pop-archieve:hover{
  background-color: #603e42 !important;
}

.pop-up-block{
  color: #f33333;
  padding:10px;
  padding-right:50px;
  cursor:pointer;
}

.pop-block:hover{
  background-color: #603e42 !important;
}

.chat-room-profile-image{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  border-radius: 100px;
  margin-left: 20px;
}

.chat-room-name{
  font-size: 16px;
  font-weight: 600;
  padding-left: 20px;
}

.chat-room-settings-details-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-room-settings-details-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.chat-room-settings-profile-image{
  width: 100px;
  height:100px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.chat-room-settings-profile-text{
  margin-bottom: .25rem!important;
  font-size: 1.25rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.chat-room-settings-details-footer{
  margin-bottom: .25rem!important;
  font-size: 1.25rem;
  padding: 30px;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.chat-room-settings-details-cancel{
  margin-top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
  background-color: #4b4e55;
  border-color: #55585f;
  color: hsla(0,0%,100%,.8);
  margin-left: -258px;
}


.menu{
  color: white;
  margin-left: 1080px;
  cursor: pointer;
  background: #3a3f51;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  margin-top: 27px;
  padding-bottom: 10px;
}
.msg-field-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.aln-left{
    align-items: flex-start !important;
    margin-left: 5px !important;
}
.msg-time-right{
    margin-right: 15px;
    color: #828282;
    font-style: italic;
    font-size: 12px;
}
.msg-time-left{
    margin-left: 5px;
    color: #828282;
    font-style: italic;
    font-size: 12px;
}

.loader{
    height: 44px;
    width: 60px;
    background: #8a8787;
    position: relative;
    border-radius: 1rem;
  }
  
  .bounce {
  position: absolute;
  bottom: 15px;
  left: 25% ;
  width: 5px;
  height: 5px ;
    background: #fff;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  border-radius:50%;
  animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
  -o-animation: bounce 1s infinite;
  }
  
  .bounce1 {
  position: absolute;
  bottom: 15px;
  left: 50% ;
  width: 5px;
  height: 5px ;
    background: #fff;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  border-radius:50%;
  animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
  -o-animation: bounce 1s infinite;
    animation-delay: 0.2s;
  }
  
  .bounce2 {
  position: absolute;
  bottom: 15px;
  left: 75% ;
  width: 5px;
  height: 5px ;
    background: #fff;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  border-radius:50%;
  animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
  -o-animation: bounce 1s infinite;
    animation-delay: 0.4s;
  }
   
  @-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-10px);}
  }
   
  @-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-10px);}
  }
   
  @-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-10px);}
  }
  @keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-10px);}
  
  }