

.image{
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.headings{
    margin-left: 20px;
    color: #e2e2e3;
}
.header{
    width: 100%;
    height: 15%;
    display: flex;
}

.whatsapp-screen{
    height: 600px;
    width: 100%;
    top: 0;
    left:0 ;
}
.entire-area{
    height: 600px;
}

.chats{
 width: 100%;
 height: 100%;
 padding: 15px;
}
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.contact{
 width: 95%;
 height: 80px;
 margin-bottom: 20px;
 background-color: #383a3f;
 border-radius: 1rem;
 display: flex;
 align-items: center;
 cursor: pointer;
 transition: box-shadow .3s;

}
.contact:hover{
    box-shadow: 0 0 15px #e4e0e6c0 ; 
}

.profile-img{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-nm{
    width:80%;
    height:100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 
}
h2{
    color:#ffff;
    font :20px sans-serif;
    float:left;
}
p{
    color: #ffffffB3;
    font :10px sans-serif;
}
.time-text{
    color:#ffff;
    font:12.8px sans-serif;
}
.time{
    width:10%;
    height:100%;
    padding-top: 20px;
}
.loading{
    color:e;
}
.screen-pop-up{
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
}

.screen-menu{
    color: white;
    margin-left: 1167px;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 100px;
    background: bottom;
    margin-right: 30px;
    margin-top: 15px;
}
