
html, body{
  height: 100%;
}
#root{
  height: 100%;
}
.root-ct{
  height: 100%;
}

.chat-room{
  height: 600px;
  width: 100%;
  top: 0;
  left:0 ;
}
.header {
  width: 100%;
  height: 10%;
  display: flex;
}
.container{
  width: 100%;
  height: 80%;
background-color: #383a3f;
display: flex;
}
.footer{
  width: 100%;
  height: 10%;
  bottom: 0;
  display: flex;
  padding-top: 10px;
}
.message-input{
  height: 100%;
  width: 80%;

}
.submit-button{
  height: 100%;
  width: 20%;
}
.input{
  /* height: 35px;
  width: 500px;
  border-radius: .75rem!important;
  /* height: auto; */
  /* background-color: #383a3f;  */
  height: 35px;
    width: 100%;
    border-radius: .75rem!important;
    /* height: auto; */
    font-size: 18px;
    background: none;
    margin-left: 20px;
    padding: 7px 5px;
    border-width: 0px 0px 1px 0px;
}
input:focus{
  border: 0px;
  outline: none;
}
.send{
    background-color: #408bff;
    color: white;
    height: 37px;
    margin-left: 50px;
    height: 45px;
    font-size: 15px;
    width: 100px;
    border-radius: 25px;
}

.profile-image {
  height: 90%;
  width: 200%; 
  border-radius: 50%;
  padding-left: 20px;
  
}
.arrow-image {
  height: 100%;
  width: 80%;
  border-radius: 50%;
}
.name{
  padding-left: 60px;
}
.input-message{
  position: absolute;
  right: 0;
  width: 100px;
  height: 50px;
  
}

.msg-container{
  width: 100%;
  height: 80%;
background-color: #383a3f;
display: flex;
flex-direction: column;
}

.message-field{
 margin-top: 10px;
}

.msg-right{
  background: #8a8787;
    border-radius: 1rem;
    padding: 10px;
    float: right;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: hsla(0,0%,100%,.75);
    max-width: 40%;
}

.msg-left{
  background: #8a8787;
    border-radius: 1rem;
    padding: 10px;
    float: left;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: hsla(0,0%,100%,.75);
    max-width: 40%;
    text-align: right;
}

.chat-typing{
  background: url("./assests/typing.svg") no-repeat top left;
  width: 100px;
}

.dark{
  background-color: #202124;
  font-family: Nunito,sans-serif;
  height: 100%;
  color: white;
}

.text{
  color: #e2e2e3;
}