
html, body{
  height: 100%;
}
#root{
  height: 100%;
}
.root-ct{
  height: 100%;
}
.main-chat-room{
  width: 100%;
  background-color: #202124;
}
.chat-room{
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #202124;
  padding-top: 1rem;
  left: 0;
}
.header {
  width: 100%;
  height: 10%;
  display: flex;
}
.container{
  width: 100%;
  height: 80%;
  background-color: #383a3f;
  display: flex;
}

.app{
  height: 100%;
}

.app__body{
  height: 100%;
}

.footer{
  position: fixed;
  width: 90%;
  height: 8%;
  bottom: 0;
  display: flex;
  background: #373a3f;
  margin-left: 5%;
  border: 1px solid #504e4e;
  border-width: 1px 0px 0px 0px;
  border-radius: 0px 0px 10px 10px;
}
.message-input{
  height: 100%;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}
.emoji{
  width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 2%;
}
.emoji-style{
  height: 50%;
  border-radius: 50%;
  width: 20%;
  text-align: center;
}
.emoji-holder{
  position: absolute;
    height: 320px;
    width: 280px;
    left: 5%;
    bottom: 13%;
    margin-bottom: 4rem;
}

.submit-button{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input{
  height: 35px;
  width: 100%;
  border-radius: .75rem!important;
  font-size: 18px;
  background: none;
  border-width: 1px 1px 1px 1px;
}
input:focus{
  border: 0px;
  outline: none;
}
.send{  
    background-color: #7652bf;
    color: white;
    height: 45px;
    font-size: 15px;
    width: 100px;
    border-radius: 25px;
    cursor: pointer;
    border-width: 0;
}

.profile-image {
  height: 90%;
  width: 200%; 
  border-radius: 50%;
  padding-left: 20px;
  
}
.arrow-image {
  height: 100%;
  width: 80%;
  border-radius: 50%;
}
.name{
  padding-left: 60px;
}
.input-message{
  position: absolute;
  right: 0;
  width: 100px;
  height: 50px;
  
}

.msg-container{
  scroll-behavior: smooth;
  width: 90%;
  height: 86%;
  background-color: #383a3f;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  margin-left: 5%;
  border-radius: 3% 3% 0% 0%;
}

.message-field{
 margin-top: 10px;
}

.msg-right{
 background: #8a8787;
    
    float: right;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: hsla(0,0%,100%,.75);
    max-width: 40%;
    position: relative;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;

}

.msg-left{
  background: #8a8787;
       float: left;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: hsla(0,0%,100%,.75);
    max-width: 40%;
    text-align: left;
    position: relative;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.chat-typing{
  background: url("./assests/typing.svg") no-repeat top left;
  width: 100px;
}

.dark{
  background-color: #202124;
  font-family: Nunito,sans-serif;
  height: 100%;
  color: white;
}

.text{
  color: #e2e2e3;
}

[placeholder]::-webkit-input-placeholder { color: #d7d7d7; padding-left: 5px; padding-top: 5px; }
[placeholder]:hover::-webkit-input-placeholder { color: rgba(255,255,255,.4); padding-left: 5px; padding-top: 5px; }
[placeholder]:focus::-webkit-input-placeholder { color: transparent; padding-left: 5px; padding-top: 5px;}

[placeholder]::-moz-placeholder { color: #d7d7d7; padding-left: 5px; padding-top: 5px;}
[placeholder]:hover::-moz-placeholder { color: rgba(255,255,255,.4); padding-left: 5px; padding-top: 5px;}
[placeholder]:focus::-moz-placeholder { color: transparent; padding-left: 5px; padding-top: 5px;}

[placeholder]:-ms-input-placeholder { color: #d7d7d7; padding-left: 5px; padding-top: 5px;}
[placeholder]:hover:-ms-input-placeholder { color: rgba(255,255,255,.4); padding-left: 5px; padding-top: 5px;}
[placeholder]:focus:-ms-input-placeholder { color: transparent; padding-left: 5px; padding-top: 5px;}
